<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA_Compatible" content="ie=edge">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <style>
            header
            {
                width: 100%;
                text-align: center;
                background-color: cyan;
            }
            footer
            {
                width: 100%;
                text-align: center;
                background-color: cyan;
                position: absolute;
                bottom: 0;
            }
        </style>
    </head>
    <header>
        <h1>Panchayat</h1>
    </header>
    <body>
        {% block body %}

        {% endblock %}
    </body>
    <footer>
        <h4>Made by Pratham</h4>
    </footer>
</html>