{% extends 'base.html' %}

{% block title %}
    Panchayat - New Post
{% endblock %}

{% block body %}
{{message}}
<br>
<a href="home">Home</a>
<br>
<p>
    Hello {{current_user.user.username}}
    <br>
    New Post
    <br>
</p>
<div>
    <form action="newPost" method="POST" accept="image/jpeg" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
    <br>
</div>

<a href="logout">Logout</a>
{% endblock %}