{% extends 'base.html' %}

{% block title %}
    Panchayat - Feed
{% endblock %}

{% block body %}
<a href="home">Home</a>
<br>
<p>
    Hello {{current_user.user.username}}
    <br>
    Feed
    <br>
    <a href="newPost">Add a Post</a>
    <br>
</p>
<div>
    <div class="left">
        {% for post in posts %}
        <div class="post">
            <div class="postheader">
                <div class="postHeaderImageBox">
                    <img src="{{post.user.profile_picture.url}}" alt="sad" class="postHeaderImage">
                </div>
                <div class="postUsername"><p>{{post.user.user.username}}</p></div>
            </div>
            <img src="{{post.image.url}}" alt="sad" class="postImage">
            <p>{{post.text}}</p>
        </div>
        <br>
        {% endfor %}
    </div>
    <div class="right">

    </div>

</div>

<a href="logout">Logout</a>
{% endblock %}