{% extends 'base.html' %}

{% block title %}
    Panchayat - Profile
{% endblock %}

{% block body %}
<a href="home">Home</a>
<br>
<p>
    Hello {{current_user.user.username}}
    <br>
    Viewing {{viewing_profile.user.username}}
    <br>
</p>
<div>
    {{viewing_profile.name}}
    {% if isFollowed %}
        <form action="unfollowPerson" method="POST">
            {% csrf_token %}
            <button name="person_id" value="{{viewing_profile.user.id}}">Unfollow</button>
        </form>
    {% else %}
        <form action="followPerson" method="POST">
            {% csrf_token %}
            <button name="person_id" value="{{viewing_profile.user.id}}">Follow</button>
        </form>
    {% endif %}
</div>
<div>
    <div class="left">
        {% for post in posts %}
        <div class="post">
            <div class="postheader">
                <div class="postHeaderImageBox">
                    <img src="{{post.user.profile_picture.url}}" alt="sad" class="postHeaderImage">
                </div>
                <div class="postUsername"><p>{{post.user.user.username}}</p></div>
            </div>
            <img src="{{post.image.url}}" alt="sad" class="postImage">
            <p>{{post.text}}</p>
        </div>
        <br>
        {% endfor %}
    </div>
    <div class="right">

    </div>

</div>

<a href="logout">Logout</a>
{% endblock %}