  
{% extends 'base.html' %}

{% block title %}
    Panchayat
{% endblock %}

{% block body %}
<br>
{{message}} 
<br>
<form action="createUser" method="POST">
    {% csrf_token %}
    Enter username : <br> <input type="text" name="username" required>
    <br>
    Enter email : <br> <input type="text" name="email" required>
    <br>
    Enter Password : <br> <input type="password" name="password1" required>
    <br>
    Confirm Password : <br> <input type="password" name="password2" required>
    <br>
    <input type="submit">
</form>
{% endblock %}